@font-face {
    font-family: 'titles';
    src: url('../Assets/fonts/TwinkleStar-Regular.ttf');
}

@font-face {
    font-family: 'main';
    src: url('../Assets/fonts/HindSiliguri-Medium.ttf');
}

.titles{
    font-family: 'titles';
}

.main{
    font-family: 'main';
}